[aws]
access_key_id = "YOUR_ACCESS_KEY_ID"
secret_access_key = "YOUR_SECRET_ACCESS_KEY"
s3_bucket_name = "YOUR_BUCKET_NAME"
s3_region = "YOUR_REGION"
s3_wedding_photos_folder = "YOUR_WEDDING_PHOTOS_FOLDER"

[database]
database_url = "YOUR_DATABASE_URL"

[email]
brevo_api_key = "YOUR_BREVO_API_KEY"
senders_email = "YOUR_SENDERS_EMAIL"